<table class="table">

  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Sexo</th>
      <th scope="col">Idade</th>
      <th scope="col">Endereço</th>
    </tr>
  </thead>

  <tbody>
    <!-- <tr *ngFor="let pessoa of pessoas">  usado para teste-->
    <tr *ngFor="let pessoa of pessoas$ | async">
      <td> {{ pessoa.id }} </td>
      <td> {{ pessoa.nome }} </td>
      <td> {{ pessoa.sexo }} </td>
      <td> {{ pessoa.idade }} </td>
      <td> {{ pessoa.endereco }} </td>
    </tr>
  </tbody>

</table>
