<section class="row">


    <div class="col-lg-4 text-white text-center">
      <div class="card bg-dark" >
        <div class="card-body">
          <h5 class="card-title">Alunos</h5>
          <p class="card-text">
            Acesse o cadastro de aluno
          </p>
          <a href="/alunos" class="btn btn-secondary">Acesse</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 text-white text-center">
      <div class="card bg-dark" >
        <div class="card-body">
          <h5 class="card-title">Professores</h5>
          <p class="card-text">
            Acesse o cadastro de professores
          </p>
          <a href="/professores" class="btn btn-secondary wide">Acesse</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 text-white text-center">
      <div class="card bg-dark" >
        <div class="card-body">
          <h5 class="card-title">Turmas</h5>
          <p class="card-text">
            Acesse o cadastro de turmas
          </p>
          <a href="/turmas" class="btn btn-secondary">Acesse</a>
        </div>
      </div>
    </div>



  </section>

