<div id="content-list" class="container lg-12">
    <div class="card-body col-lg-4 offset-4 row d-flex justify-content-center">
        <h4 class="text-center">Excluir Turma</h4>
        <table class="table col-lg-8 table-striped table-dark">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nome</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{turmaId}}</td>
                    <td>{{turmaNome}}</td>
                </tr>
            </tbody>
        </table>
    
        <button (click)="delete()" class="btn-danger">Excluir</button>
        <button (click)="cancel()" class="btn-dark">Cancelar</button>
    </div>
</div>